    body {
        margin: 0;
        font-family: Arial;
    }

    .container {
        display: flex;
        height: 100vh;
    }

    .left-pane {
        flex: 1;
        background-image: url("images/Noodles.jpeg");
        background-size: cover;
        background-position: center;
    }

    .right-pane {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 992px) {
        body {
            margin: 0;
        }

        .left-pane {
            display: none;
        }

        .right-pane {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 25%;
        }
    }