body {
  margin: 0;
}

.navrectangle {
  background-color: #e47329;
  width: 220px;
  height: 900px;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 36px;
  color: white;
  font-style: italic;
  font-family: 'Kodchasan', Arial, sans-serif;
  padding: 40px 20px;
}

.navBar {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* MAIN ITEMS */
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  font-weight: bold;
  cursor: pointer;
}

/* SUB MENU */
.submenu {
  list-style-type: disc;
  padding-left: 50px;
  margin: 0;
  display: none; /* hidden by default */
}

.subpoint {
  font-size: 14px;
  padding: 15px 0; 
}

/* DIVIDER */
.divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px 0;
}

/* ARROW */
.arrow {
  font-size: 14px;
  transition: transform 0.2s ease;
}

/* LOGOUT */
.logout {
  padding: 20px;
  list-style: none;
}

/* HOVER */
.main:hover,
.subpoint:hover {
  background-color: rgba(255, 255, 255, 0.1);
}



.welcome-text {
    position: absolute;
    top: 45px;
    left: 310px;
    color: black;
    margin: 0;
    font-family: 'Kodchasan',Arial, Helvetica, sans-serif;
}

.searchBar {
        position: absolute;   
        top: 40px;
        left: 570px;
        /* adjust based on sidebar width */
        display: flex;
        align-items: center;
        width: 550px;
        background-color: #e0e0e0;
        border-radius: 999px;
        padding: 6px 10px;
    }

    /* Input */
    .search-input {
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        padding: 10px 14px;
        font-size: 14px;
    }

    /* Button */
    .search-btn {
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 30px;
        margin-right: 10px;
    }