body {
  margin: 0;
}

.navrectangle {
  background-color: #e47329;
  width: 220px;
  height: 900px;
  display: flex;
  flex-direction: column;
}

header {
  font-size: 36px;
  color: white;
  font-style: italic;
  font-family: 'Kodchasan', Arial, sans-serif;
  padding: 40px 20px;
}

.navBar {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* MAIN ITEMS */
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  font-weight: bold;
  cursor: pointer;
}

/* SUB MENU */
.submenu {
  list-style-type: disc;
  padding-left: 50px;
  margin: 0;
  display: none; /* hidden by default */
}

.subpoint {
  font-size: 14px;
  padding: 15px 0; 
}

/* DIVIDER */
.divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px 0;
}

/* ARROW */
.arrow {
  font-size: 14px;
  transition: transform 0.2s ease;
}

/* LOGOUT */
.logout {
  padding: 20px;
  list-style: none;
}

/* HOVER */
.main:hover,
.subpoint:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.welcome-text {
    position: absolute;
    top: 45px;
    left: 310px;
    color: black;
    margin: 0;
    font-family: 'Kodchasan',Arial, Helvetica, sans-serif;
}

.searchBar {
        position: absolute;   
        top: 40px;
        left: 570px;
        /* adjust based on sidebar width */
        display: flex;
        align-items: center;
        width: 550px;
        background-color: #e0e0e0;
        border-radius: 999px;
        padding: 6px 10px;
    }

    /* Input */
    .search-input {
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        padding: 10px 14px;
        font-size: 14px;
    }

    /* Button */
    .search-btn {
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 30px;
        margin-right: 10px;
    }

.cuisines{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 50px;
  padding: 20px;
  left: 310px;
  color: black;
  margin: 0;
  border-bottom: 400px,bold,darkgrey;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.cuisine {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.cuisine img {
  height: 139px;
  object-fit:cover;
  max-width:150px;
  margin:5px;
  border-radius:10%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.cuisine span {
  margin-top: 8px;
  font-weight: bold;
  text-align: center;
}

/*If cuisine is selected, img will have green border*/
.cuisine.selected img{
  border: 5px solid #4CAF50; /* highlight selected */
}

section .home{
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.stall-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}

.stall-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.stall-card img {
  /* max-width:292px; */
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.stall-card h4 {
  margin: 10px;
}

.stall-card p {
  margin: 0 10px 10px;
  font-size: 14px;
  color: gray;
}
@media (max-width: 992px) {
  .navrectangle{
  display: flex;
  flex-direction: row;
  align-items:end;
  }
  /* .cuisines{
  display:flex;
  flex-direction:row;
  position: absolute;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
    top: 45px;
    left: 310px;
    color: black;
    margin: 0;
    font-family: 'Kodchasan',Arial, Helvetica, sans-serif;
}

.cuisine {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
}

.cuisine img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%; /* makes the image circular */
  /* box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.cuisine span {
  margin-top: 8px;
  font-weight: bold;
  text-align: center;
} */ 
}