body {
    margin: 0px;
}

.rectangle{
    background-color:#E47329;
    width:200px;
    height:900px;
    display:flex;
    flex-direction: column;
    justify-content: center; 
}
.welcome-text {
    position: absolute;
    top: 45px;
    left: 280px;
    color: black;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navBar{
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    gap: 25px;
}

.searchBar {
        position: absolute;   
        top: 30px;
        left: 500px;
        /* adjust based on sidebar width */
        display: flex;
        align-items: center;
        width: 500px;
        height:40px;
        background-color: #e0e0e0;
        border-radius: 999px;
        padding: 6px 10px;
    }

    /* Input */
    .search-input {
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        padding: 10px 14px;
        font-size: 14px;
    }

    /* Button */
    .search-btn {
        border: none;
        background: transparent;
        cursor: pointer;
        font-size: 30px;
        margin-right:10px;
    }
